{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Project</title>
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
      name="viewport"
    />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />
    <link href="{% static 'admin_page/css/app.min.css' %}" rel="stylesheet" />
    <link href="{% static 'admin_page/css/kiritish.css' %}" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <!-- ================== END BASE CSS STYLE ================== -->
  </head>
  <body>
    <div id="header" class="header navbar-default">
      <!-- begin navbar-header -->
      <div class="navbar-header">
        <a href="index.html" class="navbar-brand"
          ><span class="navbar-logo"></span
        ></a>
        <button
          type="button"
          class="navbar-toggle"
          data-click="sidebar-toggled"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- end navbar-header --><!-- begin header-nav -->
      <ul class="navbar-nav navbar-right">
        <li class="navbar-form"></li>
      </ul>
      <!-- end header-nav -->
    </div>
    <div id="content" class="m-16">
      <!-- begin page-header -->
      <h1 class="page-header ml-3">Ma'lumotlarni kiritish</h1>
      <div class="row ml-0 mr-0">
        <div class="col-xl-6 ui-sortable">
          <div
            class="panel panel-inverse"
            data-sortable-id="form-stuff-10"
            style=""
          >
            <!-- begin panel-heading -->
            <div class="panel-heading ui-sortable-handle">
              <h4 class="panel-title">Ma'lumotlarni kiritish</h4>
              <div class="panel-heading-btn">
                <a
                  href="javascript:;"
                  class="btn btn-xs btn-icon btn-circle btn-default"
                  data-click="panel-expand"
                  ><i class="fa fa-expand"></i
                ></a>
                <a
                  href="javascript:;"
                  class="btn btn-xs btn-icon btn-circle btn-success"
                  data-click="panel-reload"
                  ><i class="fa fa-redo"></i
                ></a>
                <a
                  href="javascript:;"
                  class="btn btn-xs btn-icon btn-circle btn-warning"
                  data-click="panel-collapse"
                  ><i class="fa fa-minus"></i
                ></a>
                <a
                  href="javascript:;"
                  class="btn btn-xs btn-icon btn-circle btn-danger"
                  data-click="panel-remove"
                  ><i class="fa fa-times"></i
                ></a>
              </div>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3"
                    >T- Vaqt 0≤t≤T T=</label
                  >
                  <div class="col-md-9">
                    <input
                      name="T"
                      id="T"
                      value="{{T}}"
                      type="text"
                      class="form-control m-b-5"
                      required
                      placeholder=""
                    />
                  </div>
                </div>

                <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3"> 0<=X X=</label>
                  <div class="col-md-9">
                    <input
                      name="lx"
                      id="lx"
                      type="text"
                      value="{{lx}}"
                      required
                      class="form-control m-b-5"
                      placeholder=""
                    />
                  </div>
                </div>
                <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3"> Y=</label>
                  <div class="col-md-9">
                    <input
                      name="ly"
                      id="ly"
                      value="{{ly}}"
                      type="text"
                      required
                      class="form-control m-b-5"
                      placeholder=""
                    />
                  </div>
                </div>
                <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3"
                    >Vaqt bo'laklari soni
                  </label>
                  <div class="col-md-9">
                    <input
                      name="N"
                      id="N"
                      value="{{N}}"
                      required
                      type="text"
                      class="form-control m-b-5"
                      placeholder=""
                    />
                  </div>
                </div>
                <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3"
                    >X ning bo'laklari soni
                  </label>
                  <div class="col-md-9">
                    <input
                      name="M"
                      id="M"
                      value="{{M}}"
                      type="text"
                      required
                      class="form-control m-b-5"
                      placeholder=""
                    />
                  </div>
                </div>
                <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3"
                    >Y ning bo'laklari soni</label
                  >
                  <div class="col-md-9">
                    <input
                      name="My"
                      id="My"
                      value="{{My}}"
                      required
                      type="text"
                      class="form-control m-b-5"
                      placeholder=""
                    />
                  </div>
                </div>

                <div class="login-buttons form-group row m-b-15">
                  <button
                    type="submit"
                    class="btn btn-success btn-block btn-lg"
                  >
                    Hisoblash
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xl-6 ui-sortable">
          <!-- begin panel -->
          <div class="panel panel-inverse" data-sortable-id="form-stuff-3">
            <!-- begin panel-heading -->
            <div class="panel-heading ui-sortable-handle">
              <h4 class="panel-title">Natija</h4>
              <div class="panel-heading-btn">
                <a
                  href="javascript:;"
                  class="btn btn-xs btn-icon btn-circle btn-default"
                  data-click="panel-expand"
                  ><i class="fa fa-expand"></i
                ></a>
                <a
                  href="javascript:;"
                  class="btn btn-xs btn-icon btn-circle btn-success"
                  data-click="panel-reload"
                  ><i class="fa fa-redo"></i
                ></a>
                <a
                  href="javascript:;"
                  class="btn btn-xs btn-icon btn-circle btn-warning"
                  data-click="panel-collapse"
                  ><i class="fa fa-minus"></i
                ></a>
                <a
                  href="javascript:;"
                  class="btn btn-xs btn-icon btn-circle btn-danger"
                  data-click="panel-remove"
                  ><i class="fa fa-times"></i
                ></a>
              </div>
            </div>

            <div class="panel-body p-t-10">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!--                              <h4>Высота воды h(t,x)  </h4>-->
                <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-3"
                    >Funksiyalardan birini tanlang</label
                  >

                  <div class="col-md-3">
                    <select name="f" id="f" class="form-control" required>
                      <option value="0">f1</option>
                      <option value="1">f2</option>

                      <option value="2">f3</option>
                      <option value="3">f4</option>
                      <option value="4">f5</option>
                      <option value="5">f6</option>
                      <option value="6">f7</option>
                      <option value="7">f8</option>
                    </select>
                    <!--										   <input name="j" id="j" value="0" required type="text" class="form-control m-b-5" placeholder="">-->
                    <!--										   <p id="px"></p>-->
                  </div>

                  <label class="col-form-label col-md-1">n=</label>

                  <div class="col-md-3">
                    <input
                      name="n"
                      id="i"
                      value="0"
                      required
                      type="text"
                      class="form-control m-b-5"
                      placeholder=""
                    />
                    <p id="pt"></p>
                  </div>
                  <div class="login-buttons form-group col-md-4 m-b-15">
                    <button
                      type="button"
                      class="btn btn-success btn-block btn-lg"
                      onclick="handleclick()"
                    >
                      Hisoblash
                    </button>
                  </div>
                </div>
                <div id="tester"></div>
                <div id="testeraa"></div>
                <div id="testerbb"></div>

                <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-1">n=</label>

                  <div class="col-md-3">
                    <input
                      name="cht"
                      id="cht"
                      value="0"
                      required
                      type="text"
                      class="form-control m-b-5"
                      placeholder=""
                    />
                    <p id="chtt"></p>
                  </div>
                  <label class="col-form-label col-md-1">i=</label>

                  <div class="col-md-3">
                    <input
                      name="chx"
                      id="chx"
                      value="0"
                      required
                      type="text"
                      class="form-control m-b-5"
                      placeholder=""
                    />
                    <p id="chxx"></p>
                  </div>
                  <div class="login-buttons form-group col-md-4 m-b-15">
                    <button
                      type="button"
                      class="btn btn-success btn-block btn-lg"
                      onclick="handleclicktx()"
                    >
                      Hisoblash
                    </button>
                  </div>
                </div>
                <div id="myDiv"></div>
                <div class="form-group row m-b-15">
                  <label class="col-form-label col-md-1">n=</label>

                  <div class="col-md-3">
                    <input
                      name="cht"
                      id="chty"
                      value="0"
                      required
                      type="text"
                      class="form-control m-b-5"
                      placeholder=""
                    />
                    <p id="chtty"></p>
                  </div>
                  <label class="col-form-label col-md-1">i=</label>

                  <div class="col-md-3">
                    <input
                      name="chy"
                      id="chy"
                      value="0"
                      required
                      type="text"
                      class="form-control m-b-5"
                      placeholder=""
                    />
                    <p id="chyy"></p>
                  </div>
                  <div class="login-buttons form-group col-md-4 m-b-15">
                    <button
                      type="button"
                      class="btn btn-success btn-block btn-lg"
                      onclick="handleclickty()"
                    >
                      Hisoblash
                    </button>
                  </div>
                </div>
                <div id="aniq"></div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div id="bek"></div>
    </div>
    <script>
      let datajson = JSON.parse("{{datajson}}");
      console.log(JSON.parse("{{datajson}}"));
      console.log(JSON.parse("{{aa}}"));
      let formarr = [];
      // for (let i = 0; i < datajson.length; i++) {
      //   massiv.push(datajson[i][f]);
      // }
      for (let j = 0; j < datajson.length; j++) {
        formarr.push({
          data: [
            {
              z: datajson[j],
            },
          ],
        });
      }
      var data = [
        {
          z: datajson[0],
          type: "surface",
          contours: {
            z: {
              show: true,
              usecolormap: true,
              highlightcolor: "#42f462",
              project: { z: true },
            },
          },
        },
      ];

      var layout = {
        title: "G'ovakli muhitda elastik to'lqinlar",
        autosize: false,
        width: 800,
        height: 800,
        margin: {
          l: 65,
          r: 50,
          b: 65,
          t: 90,
        },
        autostart: true,
        updatemenus: [
          {
            type: "buttons",
            showactive: false,
            buttons: [
              {
                label: "Play",
                method: "animate",
                args: [
                  null,
                  { frame: { duration: 100 }, transition: { duration: 0 } },
                ],
              },
              {
                label: "Pause",
                method: "animate",
                args: [
                  [null],
                  { frame: { duration: 0 }, transition: { duration: 0 } },
                ],
              },
            ],
          },
        ],
      };

      Plotly.newPlot("bek", data, layout).then(function () {
        Plotly.addFrames("bek", formarr);
      });
    </script>

    <script>
      function handleclick() {
        let massiv = [];
        const f = document.getElementById("f").value;
        let formarr = [];
        for (let i = 0; i < JSON.parse("{{data}}").length; i++) {
          massiv.push(JSON.parse("{{data}}")[i][f]);
        }
        const i = document.getElementById("i").value;
        for (let j = 0; j < JSON.parse("{{data}}").length; j++) {
          formarr.push({
            data: [
              {
                z: massiv[j],
              },
            ],
          });
        }
        var data = [
          {
            z: massiv[i],
            type: "surface",
            contours: {
              z: {
                show: true,
                usecolormap: true,
                highlightcolor: "#42f462",
                project: { z: true },
              },
            },
          },
        ];

        var layout = {
          title: "G'ovakli muhitda elastik to'lqinlar",
          autosize: false,
          width: 800,
          height: 800,
          margin: {
            l: 65,
            r: 50,
            b: 65,
            t: 90,
          },
        };

        TESTER = document.getElementById("tester");

        // begin animation
        var frames = formarr;
        console.log(frames);
        // Define the animation options
        var animation = {
          transition: {
            duration: 0,
          },
          frame: {
            duration: 0,
            redraw: false,
          },
        };

        // Add the animation to the plot
        Plotly.newPlot(TESTER, data, layout).then(function () {
          Plotly.addFrames(TESTER, frames);
          // Plotly.animate(TESTER, { data: frames }, animation);
        });
        // end animation
      }

      var data_aa = [
        {
          z: JSON.parse("{{aa}}"),
          type: "surface",
          contours: {
            z: {
              show: true,
              usecolormap: true,
              highlightcolor: "#42f462",
              project: { z: true },
            },
          },
        },
      ];

      var layout = {
        // title: "G'ovakli muhitda elastik to'lqinlar",
        scene: { camera: { eye: { x: 1.87, y: 0.88, z: -0.64 } } },
        autosize: false,
        width: 800,
        height: 800,
        margin: {
          l: 65,
          r: 50,
          b: 65,
          t: 90,
        },
      };

      TESTER_aa = document.getElementById("testeraa");

      Plotly.newPlot(TESTER_aa, data_aa, layout);
      function getrandom(num, mul) {
        var value = [];
        for (i = 0; i <= num; i++) {
          var rand = Math.random() * mul;
          value.push(rand);
        }
        return value;
      }
      var data_bb = [
        {
          z: JSON.parse("{{bb}}"),
          // x:JSON.parse("{{x}}"),
          // y:JSON.parse("{{y}}"),
          type: "surface",
          contours: {
            z: {
              show: true,
              usecolormap: true,
              highlightcolor: "#42f462",
              project: { z: true },
            },
          },
        },
      ];

      var layout = {
        xaxis: {
          range: [-200, 100],
        },
        yaxis: {
          range: [-100, 100],
        },
        zaxis: {
          range: [-150, 100],
        },

        // title: "G'ovakli muhitda elastik to'lqinlar",
        scene: { camera: { eye: { x: 1.87, y: 0.88, z: -0.64 } } },
        autosize: false,
        width: 800,
        height: 800,
        margin: {
          l: 65,
          r: 50,
          b: 65,
          t: 90,
        },
      };

      TESTER_bb = document.getElementById("testerbb");

      Plotly.newPlot(TESTER_bb, data_bb, layout);
    </script>
    <script>
      function handleclicktx() {
        const n = document.getElementById("cht").value;
        const i = document.getElementById("chx").value;
        document.getElementById("chtt").innerHTML =
          "tn=" + "{{tao}}" * document.getElementById("cht").value;
        document.getElementById("chxx").innerHTML =
          "xi=" + "{{h}}" * document.getElementById("chx").value;
        let massiv = [];
        for (let i = 0; i < JSON.parse("{{data}}").length; i++) {
          massiv.push(JSON.parse("{{data}}")[i][0]);
        }
        var data = [
          {
            y: JSON.parse("{{z1}}")[n][i],
            mode: "lines",
            type: "scatter",
            name: "Aniq yechim",
          },
          {
            y: massiv[n][i],
            mode: "lines",
            type: "scatter",
            name: "Taqtibiy yechim",
          },
        ];

        // Define Layout
        var layout = {
          xaxis: { title: "y" },
          yaxis: { title: "f1(t*,x*,y)" },
          title: "Chiziqli yechim f1(t*,x*,y)",
        };

        TESTER = document.getElementById("myDiv");

        Plotly.newPlot(TESTER, data, layout);
      }

      let massivv = [];
      for (let i = 0; i < JSON.parse("{{data}}").length; i++) {
        massivv.push(JSON.parse("{{data}}")[i][0]);
      }
      var data = [
        {
          y: JSON.parse("{{z1}}")[0][0],
          mode: "lines",
          type: "scatter",
          name: "Aniq yechim",
        },
        {
          y: massivv[0][0],
          mode: "lines",
          type: "scatter",
          name: "Taqtibiy yechim",
        },
      ];

      // Define Layout
      var layout = {
        xaxis: { title: "y" },
        yaxis: { title: "f1(t*,x*,y)" },
        title: "Chiziqli yechim f1(t*,x*,y)",
      };
      TESTER = document.getElementById("myDiv");

      Plotly.newPlot(TESTER, data, layout);
    </script>
    <script>
      function taqribiyx() {
        let arr1 = [];
        for (let n = 0; n < JSON.parse("{{data}}").length; n++) {
          // for(let i=0;i<)
          arr1.push(JSON.parse("{{data}}")[i][0]);
        }
      }
      let arr1 = [];
      for (let n = 0; n < JSON.parse("{{data}}").length; n++) {
        arr1.push(JSON.parse("{{data}}")[n][0]);
      }
      let output = [];
      for (let n = 0; n < arr1.length; n++) {
        output.push(
          arr1[n][0].map((_, colIndex) => arr1[n].map((row) => row[colIndex]))
        );
      }
      function handleclickty() {
        const n = document.getElementById("chty").value;
        const i = document.getElementById("chy").value;
        document.getElementById("chtty").innerHTML =
          "tn=" + "{{tao}}" * document.getElementById("cht").value;
        document.getElementById("chyy").innerHTML =
          "yj=" + "{{hy}}" * document.getElementById("chy").value;
        let massiv = [];
        for (let i = 0; i < JSON.parse("{{data}}").length; i++) {
          massiv.push(JSON.parse("{{data}}")[i][0]);
        }

        var data = [
          {
            y: JSON.parse("{{z2}}")[n][i],
            mode: "lines",
            type: "scatter",
            name: "Aniq yechim",
          },
          {
            y: output[n][i],
            mode: "lines",
            type: "scatter",
            name: "Taqtibiy yechim",
          },
        ];

        // Define Layout
        var layout = {
          xaxis: { title: "y" },
          yaxis: { title: "f1(t*,x*,y)" },
          title: "Chiziqli yechim f1(t*,x*,y)",
        };

        TESTER = document.getElementById("aniq");

        Plotly.newPlot(TESTER, data, layout);
      }

      var data = [
        {
          y: JSON.parse("{{z2}}")[0][0],
          mode: "lines",
          type: "scatter",
          name: "Aniq yechim",
        },
        {
          y: output[0][0],
          mode: "lines",
          type: "scatter",
          name: "Taqtibiy yechim",
        },
      ];

      // Define Layout
      var layout = {
        xaxis: { title: "x" },
        yaxis: { title: "f1(t*,x*,y)" },
        title: "Chiziqli yechim f1(t*,x,y*)",
      };
      TESTER = document.getElementById("aniq");

      Plotly.newPlot(TESTER, data, layout);
    </script>

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'admin_page/js/app.min.js' %}"></script>
    <!--<script src="{% static 'admin_page/js/plot.js' %}"></script>-->

    <script src="{% static 'admin_page/js/default.min.js' %}"></script>
    <!-- ================== END BASE JS ================== -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script> -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{% static 'admin_page/js/login-v2.demo.js' %}"></script>
  </body>
</html>
